body {
  background-color: rgb(22, 22, 22);
  color: white;
}
a {
  color: white;
}

/* nav bar */
header {
  border-bottom: 1px solid white;
  background-color: rgb(22,22,22);
}

/* css for work cloud */
.cloud li {
  color: rgba(255, 255, 255, 0.9);
}
.cloud li:nth-of-type(n + 1) {
  color: rgba(255, 255, 255, 0.6);
}
.cloud li:nth-of-type(2n + 1) {
  color: rgba(255, 255, 255, 0.8);
}
.cloud li:nth-of-type(3n + 3) {
  font-size: 1.5em;
  color: orange;
}
.cloud li:nth-of-type(4n - 3) {
  color: rgba(255, 255, 255, 0.7);
}