body {
  margin: 0;
  padding: 0;
  font: 0.75em/1.75em Georgia, serif;
}
a:not(.project) {
  text-decoration: none;
  padding: 1em;
}

/* nav bar header &  say hello footer */
header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-align: center;
  position: relative;
  z-index: 1001;
}
footer {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: orange;
  margin-top: 0.5em;
}
.nav-links {
  width: 25%;
  font-size: 1.25em;
  font-variant: small-caps;
}
.nav-links:hover {
  transition: 1s;
  background-color: orange;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.footer-img {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0 1em;
}
.footer-links:hover {
  transition: 1s;
  background-color: rgba(255,255,255,0.3);
}

/* ascii fox */
#home {
  font: 0.75em/1.2em 'Courier New', monospace;
  text-align: center;
  padding-top: 5em;
  white-space: nowrap;
  overflow-x: hidden;
}
.hidden {
  color: transparent;
}
#home:hover .highlight {
  color: orange;
  font-weight: bold;
  transition: 0.5s;
}

/* about me */
p {
  text-align: justify;
}
#about, #about2, #projects {
  padding: 1em;
}
#skills:hover .highlight {
  color: orange;
  transition: 0.5s;
}

/* projects */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 0.5em;
  border: 1px solid red;
  z-index: 1000;
}
.project-img {
  height: 150px;
  width: 150px;
}
.project-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  margin: 0;
  background-image: linear-gradient(black,transparent);
}

/* css for work cloud */
li {
  white-space: nowrap;
  font-variant: small-caps;
}
.centre {
  padding: 0 10%;
  width: 80%;
  text-align: center  ;
}
.cloud {
  display: inline;
  list-style-type: none;
}
.cloud li {
  list-style: none;
  display: inline;
}
.cloud li:nth-of-type(n + 1) {
  font-size: 0.75em;
}
.cloud li:nth-of-type(2n + 1) {
  font-size: 1.25em;
}
.cloud li:nth-of-type(3n + 3) {
  font-size: 1.5em;
  color: black;
}
.cloud li:nth-of-type(4n - 3) {
  font-size: 1em;
}